<p>
  <strong>Food Description: </strong>
  Not Implemented
</p>
<p>
  <strong>Made by: </strong>
  Not Implemented
</p>

<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
